<!DOCTYPE html>
<html lang="fr">

    <!-- Head
    ================================================== -->
    {% include head.html %}
    
    <!-- body -->
    {% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
    <body class="{{ layout }}">
        <!-- Head
        ================================================== -->
        {% include header.html %} 
        
        <div class="site-content">   
            <div class="container">
                <main role="main">
                    <!-- Content
                    ================================================== --> 
                    <div class="main-content">
                    {{ content }}
                    </div>
                    
                </main>

                <!-- Newsletter
                ================================================== -->
                <div class="alertbar">
                    {% include newsletter.html %} 
                </div>

            </div>

            <!-- Footer
            ================================================== -->
            {% include footer.html %}
           
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
            
        <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
            
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
            
        <script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
            
        <script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>
            
        <script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>

        <!-- seva js -->
        <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
    </body>
</html>
